body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,menu,#banner,.Hotsale,figure,span,p{margin:0; padding:0;}
ul,li,ol{list-style:none;float: left;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input,a{outline:none;}

html{    overflow-x: hidden;}

#header_wrap{
	width:100%;
	height:36px;
	background:#f5f5f5;
}
header{
	width:1190px;
	margin:0 auto;
	position:relative;
}
/* -----------------------------header_lft------------------------------------------------ */
 .header_lft{
	 height:36px;
	 line-height:36px;
	 font-size:12px;
	 position:absolute;
	 left:0;
}
.header_lft a,.header_rht a{	color:#6c6c6c;}
.header_lft li{
	float:left;
} 
.header_lft li:nth-of-type(1) i{
	padding:4px;
}
.header_lft li:nth-of-type(1){
	position:relative;
	color:#3c3c3c;
	
}
.header_lft li:nth-of-type(1) ul{
	height:200px;
	display:none;
	background:#fff;
	padding:4px 0;
	position:absolute;
	top:32px;
	left:0;
	border-top:1px solid #f5f5f5;
	overflow:auto;
	min-height:150px;
	z-index: 1;
}
.header_lft li:nth-of-type(1) li{
	clear:both;
	height:30px;
	line-height:30px;
	width:260px;
}
.header_lft li:nth-of-type(1):hover {background:#fff;}
.header_lft li:nth-of-type(1):hover ul{display:block;}
.header_lft li:nth-of-type(1):hover li:hover{background:#f5f5f5;cursor: pointer;}
.header_lft li:nth-of-type(2) a{
	display:block;
	color:#FF5001;
}
.header_lft li:nth-of-type(3) a{
	display:block;
	margin-left:8px;
}
.header_lft li:nth-of-type(4) a{
	display:block;
	margin-left:20px;
}
.header_lft li a:hover{
	color:#FF5001;
}
/* -----------------------------header_rht------------------------------------------------ */
 .header_rht{
	 width:604px;
	 height:36px;
	 line-height:36px;
	 font-size:12px;
	 color:#6c6c6c;
	position:absolute;
	right:0;
}
.header_rht li a:hover{
	color:#FF5001;
}
.header_rht li i{
	padding:0 4px;
}
.header_rht li:nth-of-type(1){position:relative;}
.header_rht li:nth-of-type(1) ul{
	height:60px;
	display:none;
	background:#fff;
	padding:4px 0;
	position:absolute;
	top:33px;
	left:0;
	border-top:1px solid #f5f5f5;
	z-index: 1;
}
.header_rht li:nth-of-type(1) li{
	clear:both;
	height:30px;
	line-height:30px;
	width:80px;
}
.header_rht li:nth-of-type(1) li:nth-of-type(2){margin-left: 2px;}
.header_rht li:nth-of-type(1):hover {background:#fff;}
.header_rht li:nth-of-type(1):hover ul{display:block;}
.header_rht li:nth-of-type(1):hover li:hover{background:#f5f5f5;cursor: pointer;color:#6c6c6c;}
.header_rht li:nth-of-type(2) a i{color:#FF5001;}
.header_rht li:nth-of-type(3){position:relative;}
.header_rht li:nth-of-type(3) ul{

	height:60px;
	display:none;
	background:#fff;
	padding:4px 0;
	position:absolute;
	top:33px;
	left:0;
	border-top:1px solid #f5f5f5;
	z-index: 1;
}
.header_rht li:nth-of-type(3) li{
	clear:both;
	height:30px;
	line-height:30px;
	width:80px;
}
.header_rht li:nth-of-type(3) li:nth-of-type(2){margin-left:2px;}
.header_rht li:nth-of-type(3) a i{padding:0;}
.header_rht li:nth-of-type(3):hover {background:#fff;}
.header_rht li:nth-of-type(3):hover ul{display:block;}
.header_rht li:nth-of-type(3):hover li:hover{background:#f5f5f5;cursor: pointer;color:#6c6c6c;}
.header_rht li:nth-of-type(5) a{position:relative;}
.header_rht li:nth-of-type(5) ul{

	height:210px;
	display:none;
	background:#fff;
	padding:4px 0;
	position:absolute;
	top:33px;	
	border-top:1px solid #f5f5f5;
	z-index: 1;
}
.header_rht li:nth-of-type(5) li {
	clear:both;
	height:30px;
	line-height:30px;
	width:100px;
}
.header_rht li:nth-of-type(5) li:nth-of-type(4) a{background-image:none;}
.header_rht li:nth-of-type(5) li:nth-of-type(5){margin:0;}
.header_rht li:nth-of-type(5) a i{padding:0;}
.header_rht li:nth-of-type(5):hover {background:#fff;}
.header_rht li:nth-of-type(5):hover ul{display:block;}
.header_rht li:nth-of-type(5):hover li:hover{background:#f5f5f5;cursor: pointer;color:#6c6c6c;}
.header_rht li:nth-of-type(6){position:relative;}
.header_rht li:nth-of-type(6) ul{
	height:60px;
	display:none;
	background:#fff;
	padding:4px 0;
	position:absolute;
	top:33px;
	left:0;
	border-top:1px solid #f5f5f5;
	z-index: 1;
}
.header_rht li:nth-of-type(6) li{
	clear:both;
	height:30px;
	line-height:30px;
	width:80px;
}
.header_rht li:nth-of-type(6) li:nth-of-type(2){margin-left:2px;}
.header_rht li:nth-of-type(6) a i{padding:0;}
.header_rht li:nth-of-type(6):hover {background:#fff;}
.header_rht li:nth-of-type(6):hover ul{display:block;}
.header_rht li:nth-of-type(6):hover li:hover{background:#f5f5f5;cursor: pointer;color:#6c6c6c;}
.header_rht li:nth-of-type(7) a i{padding:0;font-size:12px;color:#FF5001;}

 .h{background: url(../img/QQ图片20181213182639.gif) no-repeat top right;}
 .n{background: url(../img/QQ图片20181213182705.gif) no-repeat top right;}
	

.header_rht li:nth-of-type(7):hover {background:#fff;}
.header_rht li:nth-of-type(7):hover menu{display:block;background:#fff;}

/* -----------------------------banner------------------------------------------------ */
#banner_wrap{
	width:100%;
	background:url(../img/2-1.png);
}
#banner{
	width:1190px;
	height:100px;
	margin:0 auto;
	position:relative;
}
#banner li{
	float:left;

}
#banner li a{
	margin-right:8px;
	margin-top:18px;
	position:relative;
}
#banner .h2 a h2{
	color:#fff;
	font-size:18px;
	height:24px;
	width:80px;
	line-height:24px;
	padding-top:12px;
	margin-left:22px;
}
#banner li a span{
	color:#fff;
	font-size:14px;
	height:20px;
	margin-left:22px;
	line-height:20px;
}
#banner li a img{
	width:56px;
	height:56px;
	position:absolute;
	right:12px;
	top:6px;
	border-radius: 4px;
}
#banner li:nth-of-type(1) a{
	display:block;
	width:80px;
	height:80px;
	background:url(../img/TB1xgxMsY2pK1RjSZFsXXaNlXXa-80-80.png);
	position:absolute;
	top:-2px;
	left:10px;
}
#banner li:nth-of-type(2) a{
	display:block;
	width:209px;
	height:75px;
	position:absolute;
	left:100px;
	background:url(../img/3-1.png) no-repeat;
}
#banner li:nth-of-type(3) a{
	display:block;
	width:209px;
	height:75px;
	position:absolute;
	left:320px;
	background:url(../img/3-2.png) no-repeat;
}
#banner li:nth-of-type(4) a{
	display:block;
	width:209px;
	height:75px;
	position:absolute;
	left:540px;
background:url(../img/3-3.png) no-repeat;
}
#banner li:nth-of-type(5) a{
	display:block;
	width:209px;
	height:75px;
	position:absolute;
	left:760px;
background:url(../img/3-4.png) no-repeat;
}
#banner li:nth-of-type(6) a{
	display:block;
	width:209px;
	height:75px;
	position:absolute;
	left:980px;
background:url(../img/3-5.png) no-repeat;
}
/* ---------------------------------------------------------------footer--------------------------------------------------------------------------- */
footer{
	width:1190px;
	height:273px;
	font-size:12px;	
	color:#6c6c6c;
/* 	background:yellow; */

	border-top:1px solid #dddddd;
	margin:0px auto;
}
.footer_nav{
	width:1001px;
	height:53px;	
	padding:8px 0;
}
.footer_nav li{
	float:left;
}
.footer_nav li a{
	display:block;
	height:26px;
	line-height:26px;
	padding:0 9px;
	background:url(../img/1.jpg) no-repeat right;
}
.footer_nav li:nth-of-type(1) a{
	text-indent: -6px;
}
.footer_nav li:nth-of-type(17) a{
	background-image: none;
}
.footer_nav li:nth-of-type(18) a{
	text-indent: -6px;
}
.footer_nav li:nth-of-type(27) a,.footer_bottom_links li:nth-of-type(4){
	background-image: none;
}
.footer_nav li a:hover{
	color:#ff5000;
}
.footer_bottom{
	border-top:1px solid #dddddd;
	height:193px;
	padding:6px 0;
}
.footer_bottom .guanyutaobao{
	height:24px;
	line-height:24px;
}
.guanyutaobao li{
	float:left;
}
.guanyutaobao li a{
	display:block;
	padding-right:10px;
}
.guanyutaobao li:nth-of-type(1) a{
	text-indent: 4px;
}
.guanyutaobao li:nth-of-type(12) a{
	background:url(../img/1.jpg) no-repeat right;
}
.guanyutaobao span{
	display:block;
	float:left;
	width:200px;
	margin-left:32px;
}
.guanyutaobao li a:hover{
	color:#ff5000;
}
.xukezheng{
	height:18px;
	line-height:18px;
	margin-top:5px;
}
.xukezheng li{
	float:left;
}
.xukezheng li a{
	display:block;
	padding:0 9px;
	background:url(../img/1.jpg) no-repeat right;
}
.xukezheng li:nth-of-type(1){
	text-indent: -6px;
}
.xukezheng span{
	color:#9c9c9c;
	margin-left:8px;
}
.xukezheng li a:hover{
	color:#ff5000;
}
.beianhao{
	margin-top:6px;
	height:18px;
	line-height:18px;
}
.beianhao li{
	float:left;	
	padding:0 8px;
	background:url(../img/1.jpg) no-repeat right;
}
.beianhao li a{
	display:block   
}
.beianhao li:nth-of-type(1) a{
	text-indent:-4px;
}
.beianhao li:nth-of-type(4){
	background-image: none;
}
.beianhao li a:hover{
	color:#ff5000;
}
.footer_bottom_links{
	height:24px;
	line-height:24px;
}
.footer_bottom_links li{
	float:left;
	padding:0 10px 0 9px;
	background:url(../img/1.jpg) no-repeat right;
}
.footer_bottom_links li:nth-of-type(1) a{
	display:block;	
	background:url(../img/2.jpg) no-repeat;	
}
.footer_bottom_links li:nth-of-type(1) a span{
	margin-left:31px;
}
.footer_bottom_pic ul{

	margin-top:2px;
}
.footer_bottom_pic li{
			float:left;
}
.footer_bottom_pic li a{
			display:block;
			height:45px;
      background:url(../img/bottom.jpg) no-repeat left top;
}
.footer_bottom_pic li:nth-of-type(1) a{
      width:49px;
	   
}
.footer_bottom_pic li:nth-of-type(2) a{
      width:62px;
	   background-position:-49px 0;
}
.footer_bottom_pic li:nth-of-type(3) a{
      width:59px;
	   background-position:-111px 0;
}
.footer_bottom_pic li:nth-of-type(4) a{
      width:74px;
	   background-position:-170px 0;
}
.footer_bottom_pic li:nth-of-type(5) a{
      width:114px;
	   background-position:-244px 0;
}
.footer_bottom_pic li:nth-of-type(6) a{
      width:118px;
	   background-position:-362px 0;
}
.footer_bottom_pic li:nth-of-type(7) a{
      width:278px;
	   background-position:-480px 0;
}
.footer_bottom_pic li:nth-of-type(8) a{
      width:132px;
	   background-position:-758px 0;
}
.footer_bottom_pic li:nth-of-type(9) a{
      width:110px;
	   background-position:-890px 0;
}
.footer_bottom_pic li:nth-of-type(10) a{
      width:118px;
	   background-position:0 -45px;
}
.footer_bottom_pic li:nth-of-type(11) a{
      width:272px;
	   background-position:-118px -45px;
}
